.findUs {
  position: absolute;
  height: 200px;
  width: 200px;
  padding: 15px 50px 0 5px;
  box-sizing: border-box;
  border: 1px solid #5a5959;
  transform: rotate(15deg);
  font-style: italic;
  text-transform: uppercase;
  font-size: 10px;
  text-align: end;
  line-height: 1.5em;
  letter-spacing: 3px;
  font-weight: lighter;
  background-color: rgba(21, 21, 21);
  bottom: -100px;
  right: -60px;
  color: white;
  transition: all 0.2s ease;
}

.findUs:hover {
  transition: all 0.2s ease;
  height: 205px;
}