.container {
  display: flex;
  width: 100%;
  height: 100%;
}

.section {
  display: flex;
  flex: 0 1 40%;
  box-sizing: border-box;
  height: 100%;
}

.section + .section {
  overflow: auto;
  flex: 0 1 60%;
  background-color: rgb(118, 118, 118);
  border-left: 1px solid gray;
}

.title {
  height: 1000px;
}

.section + .section::-webkit-scrollbar {
  width: 10px;
}

.section + .section::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.section + .section::-webkit-scrollbar-thumb {
  background: #888;
}

.section + .section::-webkit-scrollbar-thumb:hover {
  background: #555;
}