.radioContainer {
  padding: 8px;
  box-sizing: border-box; 
  background-color: #dad2cc;
  border: 1px solid;
  width: 50px;
  position: absolute;
  border: 1px solid black;
  left: 0;
  top: 0;
}

.icon {
  height: 100%;
  width: 100%;
}


.icon,
.radioContainer {
  cursor:pointer;
}

.studentContainer {
  transform: translate(-10px, -70%) rotate(-25deg);
  z-index: 2;
}

.studentContainer:hover,
.active
 {
  background: linear-gradient(to bottom, #b3aba6, #dad2cc);
  transition: all 0.2s ease;
}

.teacherContainer {
  width: 60px;
  transform: translate(30px, -90%) rotate(10deg);
}

.teacherContainer:hover,
.active
 {
  background: linear-gradient(to bottom, #b3aba6, #dad2cc);
  transition: all 0.2s ease;
}

.active {
  z-index: 2;
}


.radio {
  visibility: hidden;
  height: 0px;
  width: 0px;
}

.arrowContainer {
  display: flex;
  align-items: center;
  position: absolute;
  top:20px;
  left: 40px;
}

.studentArrow {
  height: 20px;
  width: 20px;
  transform: rotateZ(200deg) scale(1,-1) translateY(-2px);
}

.teacherArrow {
  height: 20px;
  width: 20px;
  transform: rotateZ(220deg) scale(1,-1) translateY(-10px);
}

.arrowText {
  display: block;
  font-weight: lighter;
  font-size: 10px;
  padding-left: 10px;
  transform: rotateZ(-10deg) translate(-5px, 5px);
}
