.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: auto;
}

.item + .item {
  margin-top: 10px;
}

.list::-webkit-scrollbar {
  width: 10px;
}

.list::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.list::-webkit-scrollbar-thumb {
  background: #888;
}

.list::-webkit-scrollbar-thumb:hover {
  background: #555;
}